page-user-register {
  ion-content {
    background: #572c5f !important
  }
  .ajustado{
    max-width: 100% !important;
   }
  .fondotransparente {
    border-color: rgba(0, 0, 0, 0);
    background-color:rgba(0,0,0,0);
    box-shadow: none !important;
  }
}
