page-home {
  .promociones-background {
      background:rgba(123, 164, 219, 0.5);
      border-radius: 10%;
  }
  p {
    background: transparent;
    color: #fff;
    padding: 0px;
  }
  .poss {
    padding-top: 0%;
  }
  .possMenu {
    // padding-left: -2%;
    // padding-right: 6%;
    padding-top: 49% ;
  }
  span {
    position:relative;
    font-size: 90%;
  }
.bg-image {
  background-image: url('../assets/imgs/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.backcolor {
   -background-color: blue;
}
.toolbar-background {
    background-color: black;
}
.textWhite {
  color:  white;
}
.fondotransparente {
  border-color: rgba(0, 0, 0, 0);
  background-color:rgba(0,0,0,0);
  box-shadow: none !important;
}

}
