page-ordenar {
  ion-content {
    background: #572c5f !important
  }
  .toolbar-background {
      background-color: #7ba4db;
  }
  .fondotransparente {
    border-color: rgba(0, 0, 0, 0);
    background-color:rgba(0,0,0,0);
    box-shadow: none !important;
  }
}
