<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title>
      <span style="color: white;">SUCURSALES</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios" style="color: white;">VOLVER</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngIf="!showCarrito || productosPedido.length === 0" class="fondotransparente"> -->
<ion-card class="fondotransparente" *ngIf="!modoPedido" style="padding-top: 15%">
  <ion-list>
    <ion-item style="color: white;" *ngFor="let item of sucursales" no-lines class="fondotransparente">
      {{ item.nombre }}
      <br>
      <br>
      DIRECCIÓN
      <br><br>
      {{item.calle}}, {{item.colonia}},
        <br>
        {{item.municipio}}, {{item.ciudad}},
          <br>
          {{item.estado}}
    </ion-item>
  </ion-list>
</ion-card>
<ion-card class="fondotransparente" *ngIf="modoPedido" style="padding-top: 15%">
  <ion-list>
    <ion-item style="color: white;" *ngFor="let item of sucursales" no-lines class="fondotransparente" (click)="showMenuSucursal(item.nombre)">
      {{ item.nombre }}
      <br>
      <br>
      DIRECCIÓN
      <br><br>
      {{item.calle}}, {{item.colonia}},
        <br>
        {{item.municipio}}, {{item.ciudad}},
          <br>
          {{item.estado}}
    </ion-item>
  </ion-list>
</ion-card>
<!-- <ion-card *ngIf="_sp.secciones.length > 0 && modoPedido">
  <ion-list>
    <u ion-item text-wrap *ngFor="let item of _sp.productos" (click)="showPrompt(item)" color="secondary">
      <ion-icon name="ios-add" item-start></ion-icon>
      {{item.nombre}}, {{item.precio}}.00
    </u>
    <a ion-item *ngFor="let item of _sp.secciones" (click)="showProductos(item.nseccion)" color="primary">
      {{ item.nombre }}
    </a>
  </ion-list>
</ion-card>
</ion-card>
<!-- <ion-card *ngIf="showCarrito && productosPedido.length > 0" class="fondotransparente">

  <ion-card class="fondotransparente">
    <button ion-button icon-end color="secondary" (click)="avisoMontoAPagar()">
    Enviar pedido
    <ion-icon name="ios-send"></ion-icon>
    </button>
    <ion-fab right>
      <button ion-fab mini color="danger" (click)="hideCar()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-fab>
    </ion-card>
  <ion-card *ngFor="let item of productosPedido; index as i">
  <ion-card-header class="cardD">
    {{item.nombre}}
  </ion-card-header>
  <ion-card-content class="cardD">
    <ion-item class="cardD" *ngIf="item.observaciones">Observaciones: {{item.observaciones}}</ion-item>
    <ion-item class="cardD">Cantidad: {{item.cantidad}}, Precio: {{item.precio}}</ion-item>
    <ion-item class="cardD">Total: {{item.total}}</ion-item>
    <button ion-button small color="danger" (click)="deleteElementToCard(i)">
      <ion-icon name="ios-trash"></ion-icon>
    </button>
  </ion-card-content>

</ion-card>
</ion-card> -->
</ion-content>
