<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title>
      <span style="color: white;">MENÚ</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios" style="color: white;">VOLVER</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="fondotransparente">
    <!-- <u ion-item text-wrap *ngFor="let item of _sp.productos" color="secondary">
      <ion-icon name="ios-add" item-start></ion-icon>
      {{item.nombre}}, {{item.precio}}.00
    </u> -->
  <ion-list style="padding-top: 20% ;">
    <ion-item no-lines class="fondotransparente" style="color: white;" *ngFor="let item of secciones" text-center> {{item.nombre}} </ion-item>
    <!-- <button color="primary" ion-item *ngFor="let item of _sp.secciones" (click)="showProductos(item.nseccion)">
      <ion-icon *ngIf="item.nombre === 'BEBIDAS'" name="ios-beer" item-start></ion-icon>
      <ion-icon *ngIf="item.nombre === 'POSTRES'" name="ios-ice-cream" item-start></ion-icon>
      <ion-icon *ngIf="item.nombre !== 'POSTRES' && item.nombre !== 'BEBIDAS' " name="ios-restaurant" item-start></ion-icon>
      {{item.nombre}} -->

  </ion-list>
</ion-card>
</ion-content>
